/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  max-width: 900px;
  margin: auto;
  background-color: #FFF5EE;
}
@media (max-width: 900px) {
  html {
    widows: 95%;
  }
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3.5rem;
}
h5 {
  font-size: 3rem;
}
h6 {
  font-size: 2.5rem;
}
h7 {
  font-size: 2rem;
}
nav {
  position: sticky;
  top: 0;
  background-color: #773100;
  font-size: 2.25rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
}
nav .link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #FFF5EE;
  border-left: 1px solid #FFF5EE;
}
@media (max-width: 500px) {
  nav .link {
    padding: 0.5rem;
  }
}
nav .active {
  background-color: #270000;
}
nav a:hover {
  font-weight: bold;
}
@media (max-width: 500px) {
  nav {
    justify-content: center;
    font-size: 2rem;
  }
}
header {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ebe1da;
  margin-top: 5rem;
  align-items: center;
}
header img {
  border-radius: 100%;
}
header .header {
  text-align: center;
}
@media (max-width: 900px) {
  header .me {
    width: 30%;
    padding-left: 1rem;
  }
  header h1 {
    font-size: 5rem;
  }
  header h3 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  header h1 {
    font-size: 4rem;
  }
  header h3 {
    font-size: 2rem;
  }
}
.intro {
  padding: 5rem;
  font-size: 3.5rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.intro b {
  font-weight: bold;
}
@media (max-width: 900px) {
  .intro {
    font-size: 3.25rem;
  }
}
@media (max-width: 500px) {
  .intro {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
}
.middle {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.skills {
  padding: 3rem;
  border: 1px solid black;
  border-radius: 10%;
  background-color: #ebe1da;
  flex-basis: 45%;
}
.skills p {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.skills .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  white-space: nowrap;
}
.skills .list .skill {
  flex-basis: 32%;
}
@media (max-width: 900px) {
  .skills .list .skill {
    flex-basis: 40%;
    font-size: 1.9rem;
  }
}
@media (max-width: 600px) {
  .skills .list .skill {
    flex-basis: 60%;
    font-size: 1.8rem;
  }
}
.skills i {
  color: #4682B4;
}
.education {
  padding: 3rem;
  border: 1px solid black;
  border-radius: 10%;
  background-color: #ebe1da;
  flex-basis: 45%;
  font-size: 2rem;
  padding-left: 2rem;
}
.education p {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.education .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  white-space: nowrap;
}
.education .list .skill {
  flex-basis: 32%;
}
@media (max-width: 900px) {
  .education .list .skill {
    flex-basis: 40%;
    font-size: 1.9rem;
  }
}
@media (max-width: 600px) {
  .education .list .skill {
    flex-basis: 60%;
    font-size: 1.8rem;
  }
}
.education i {
  color: #4682B4;
}
.education p {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
@media (max-width: 900px) {
  .education {
    font-size: 1.9rem;
  }
}
@media (max-width: 500px) {
  .education {
    font-size: 1.8rem;
  }
}
.work {
  padding: 5rem;
}
.work h5 {
  font-weight: bold;
  text-decoration: underline;
}
.work h7 {
  font-style: italic;
}
.work p {
  font-size: 1.7rem;
  padding-top: 1rem;
}
.aboutIntro {
  margin-top: 5rem;
}
@media (max-width: 900px) {
  .aboutIntro {
    padding-left: 1rem;
  }
}
.aboutContainer {
  display: flex;
  flex-direction: column;
}
.aboutContainer .story1 {
  display: flex;
  margin-top: 8rem;
}
.aboutContainer .story1 img {
  height: auto;
  width: 20%;
}
.aboutContainer .story1 p {
  font-size: 2rem;
  padding: 5rem;
}
@media (max-width: 900px) {
  .aboutContainer .story1 img {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 500px) {
  .aboutContainer .story1 {
    flex-wrap: wrap;
    margin-top: 5rem;
  }
  .aboutContainer .story1 img {
    margin-left: auto;
    margin-right: auto;
  }
  .aboutContainer .story1 p {
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: auto;
    padding-left: auto;
  }
}
.aboutContainer .story2 {
  display: flex;
  margin-top: 8rem;
}
.aboutContainer .story2 img {
  height: auto;
  width: 20%;
}
.aboutContainer .story2 p {
  font-size: 2rem;
  padding: 5rem;
}
@media (max-width: 900px) {
  .aboutContainer .story2 img {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 500px) {
  .aboutContainer .story2 {
    flex-wrap: wrap;
    margin-top: 5rem;
  }
  .aboutContainer .story2 img {
    margin-left: auto;
    margin-right: auto;
  }
  .aboutContainer .story2 p {
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: auto;
    padding-left: auto;
  }
}
@media (max-width: 500px) {
  .aboutContainer .story2 {
    flex-direction: column-reverse;
  }
}
.aboutContainer .story2 img {
  width: 40%;
}
.aboutContainer .story3 {
  display: flex;
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.aboutContainer .story3 img {
  height: auto;
  width: 20%;
}
.aboutContainer .story3 p {
  font-size: 2rem;
  padding: 5rem;
}
@media (max-width: 900px) {
  .aboutContainer .story3 img {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 500px) {
  .aboutContainer .story3 {
    flex-wrap: wrap;
    margin-top: 5rem;
  }
  .aboutContainer .story3 img {
    margin-left: auto;
    margin-right: auto;
  }
  .aboutContainer .story3 p {
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: auto;
    padding-left: auto;
  }
}
.aboutContainer .story3 img {
  width: 40%;
}
.frame-area {
  display: block;
  width: 100%;
  /* RESPONSIVE WIDTH */
  max-width: 900px;
  height: 600px;
  overflow: auto;
  /* EDIT TO hidden FOR NO SCROLLBAR */
  border: #999999 1px solid;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 0px;
}
footer {
  text-align: center;
}
footer a {
  display: inline-block;
  text-decoration: none;
  margin: 1rem;
  padding-left: 1rem;
  padding-bottom: 4rem;
  font-size: 1.8rem;
  color: #4682B4;
}
a:hover {
  font-weight: bold;
}
.contact {
  text-align: center;
}
.contact h4 {
  margin: 10rem 2rem 8rem;
}
@media (max-width: 500px) {
  .contact h4 {
    font-size: 2.5rem;
    margin-top: 5rem;
  }
}
.contact h6 {
  margin: 0rem 2rem 6rem;
}
@media (max-width: 500px) {
  .contact h6 {
    font-size: 2rem;
  }
}
.contact ul {
  column-count: 2;
  column-gap: 0%;
  padding-left: 20%;
  margin: 0rem 2rem 10rem;
  text-align: left;
}
@media (max-width: 710px) {
  .contact ul {
    padding-left: 15%;
  }
}
@media (max-width: 620px) {
  .contact ul {
    padding-left: 12%;
  }
}
@media (max-width: 560px) {
  .contact ul {
    padding-left: 10%;
  }
}
@media (max-width: 400px) {
  .contact ul {
    padding-left: 1%;
  }
}
.contact li {
  font-size: 2rem;
}
@media (max-width: 500px) {
  .contact li {
    font-size: 1.6rem;
  }
}
.contact i {
  color: #4682B4;
}
